<div class="flex flex-column modal">
    <div class="form-modal-header">
        <h2 class="label font-ubuntu"> {{ 'copy' | translate }} </h2>
        <button mat-mini-fab color="accent" class="close-button" (click)="dialogRef.close()">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
    <div class="form-modal-content">
        <form class="form" [formGroup]="form">
            <input type="file" (change)="fileChange($event)">
            <p class="font-ubuntu">{{ 'text_import_sheet' | translate }}</p>
            <p>
                <mat-checkbox formControlName="understand">
                    <span class="font-ubuntu">
                        {{ 'understand' | translate }}
                    </span>
                </mat-checkbox>
            </p>
            <button class="form-width" [disabled]="form.invalid" mat-raised-button color="accent"
                (click)="importSheet()">{{ 'import' |
                translate }}</button>
        </form>
    </div>
</div>