@import './../../../../style-variables.scss';

.sidebar {
    background-color: $principal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .sidebar-item {
        margin: 5px 10px;
    }
    .list-periods {
        flex: 1;
    }
}