<mat-toolbar>
    <span>AppMoney</span>
    <span class="spacer"></span>
    <mat-form-field appearance="outline">
        <mat-label>{{ 'language' | translate }}</mat-label>
        <mat-select>
            <mat-option value="en">English</mat-option>
            <mat-option value="pt">Portuguese</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{ 'currency' | translate }}</mat-label>
        <mat-select>
            <mat-option value="U$">U$</mat-option>
            <mat-option value="R$">R$</mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>