@import './../../../../style-variables.scss';

.button-menu {
    margin-right: 10px;
}

.app-name {
    text-decoration: none;
    color: $accent;
}

@media (min-width: 1000px) {
    .button-menu {
        display: none;
    }
}