@import "./../../../../styles-variables.scss";
$font: 30px;
$align: center;
$numbers-font: "Kanit", sans-serif;
.index {
  font-size: $font;
  text-align: $align;
  font-family: $numbers-font;
  font-weight: bolder;
}
.index-label {
  margin-top: 30px;
}
.index-numbers {
  margin-top: 0px;
}
.debit {
  color: $accent;
}
.credit {
  color: $warn;
}
