@import "./../../../../styles-variables.scss";

nav {
  overflow: hidden;
  background-color: $primary;
  .back-button {
    color: $accent;
    height: 45px;
    font-weight: bolder;
  }
  h1 {
    font-family: $title-font;
    color: $accent;
    height: 30px;
    line-height: 36px;
    margin-right: 12px;
  }
}
