.card-user {
    margin: 10px;
    display: flex;
    .img-user {
        height: 50px;
        width: 50px;
        border-radius: 150px;
        flex: .7;
    }
    .name-user {
        margin-left: 15px;
        flex: 3;
    }
    .icon-user {
        float: right;
    }
}