<div class="sidenav" [class.expand]="expand">
  <ul class="sidenav-list">
    <li class="sidenav-item ponteiro" (click)="wallets(); collapse()">
      Adicionar Carteiras
      <i class="material-icons-outlined icon">
        account_balance_wallet
      </i>
    </li>
    <li class="sidenav-item ponteiro" (click)="categories(); collapse()">
      Adicionar Categoria
      <i class="material-icons-outlined icon">
        category
      </i>
    </li>
    <li class="sidenav-item ponteiro" (click)="exitAndClean(); collapse()">
      Logout
      <i class="material-icons-round icon">
        power_settings_new
      </i>
    </li>
  </ul>
</div>
<div *ngIf="expand" class="sidenav-wrapper" (click)="collapse()"></div>