<div class="sidenav" [class.expand]="expand">
  <ul class="sidenav-list">
    <li class="sidenav-item ponteiro" (click)="routeHome()">
      <div class="row">
        <i class="material-icons-round icon">
          account_balance
        </i>
        Home
      </div>
    </li>
    <li class="sidenav-item ponteiro" (click)="routeRegisterExpense()">
      <div class="row">
        <i class="material-icons-round icon">
          add_shopping_cart
        </i>
        Registrar uma expense
      </div>
    </li>
  </ul>
</div>