<mat-accordion>
    <mat-expansion-panel expanded hideToggle>
        <mat-expansion-panel-header>
            <div class="period-info font-ubuntu">
                <div class="info-item">
                    {{ currencyService.currencyType }} {{ budget }}
                    <div class="info-item-label">
                        {{ 'budget' | translate }}
                    </div>
                </div>
                <div class="info-item">
                    {{ currencyService.currencyType }} {{ remaining }}
                    <div class="info-item-label">
                        {{ 'remaining' | translate }}
                    </div>
                </div>
            </div>
        </mat-expansion-panel-header>
        <div class="period-detached font-ubuntu">
            <span class="detached-date">{{ date | date:'dd/MM/yyyy' }}</span>
            <div class="detached-item mt-5">
                <span class="detached-item-label">{{ 'savings' | translate }}</span>
            </div>
            <div class="detached-item">
                {{ currencyService.currencyType }} {{ savings }}
            </div>
            <div class="detached-item mt-10">
                <span class="detached-item-label">{{ 'final_budget' | translate }}</span>
            </div>
            <div class="detached-item">
                {{ currencyService.currencyType }} {{ finalBudget }}
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>