<div class="flex flex-column modal">
    <div class="form-modal-header">
        <h2 class="label font-ubuntu"> {{ 'copy' | translate }} </h2>
        <div class="spacer"></div>
        <button mat-mini-fab color="accent" class="close-button" (click)="dialogRef.close()">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
    <div class="form-modal-content">
        <form class="form" [formGroup]="form">
            <div class="importance form-width">
                <span class="font-ubuntu">{{ currencyService.currencyType }}&nbsp;</span>
                <mat-form-field appearance="outline" class="form-width" color="accent"
                    matTooltip="{{ 'net_importance' | translate }}" matTooltipPosition="above">
                    <mat-label>{{ 'importance' | translate }}</mat-label>
                    <input matInput formControlName="importance">
                    <mat-hint *ngIf="importance?.hasError('required') && importance?.touched" class="warn">
                        {{ 'importance_required' | translate }}
                    </mat-hint>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="form-width" color="accent">
                <mat-label>{{ 'description' | translate }}</mat-label>
                <input matInput formControlName="description">
                <mat-hint *ngIf="description?.hasError('required') && description?.touched" class="warn">
                    {{ 'description_required' | translate }}
                </mat-hint>
            </mat-form-field>
            <div class="form-width mb-30">
                <app-multi-select>
                    <span title class="font-ubuntu">{{ 'periods' | translate }}</span>
                    <mat-selection-list #periodSelect list>
                        <mat-list-option *ngFor="let period of periods" [value]="period">
                            {{ period.name }}
                        </mat-list-option>
                    </mat-selection-list>
                </app-multi-select>
            </div>
            <button [disabled]="!periodSelect._value?.length" mat-flat-button color="accent" class="form-width"
                (click)="completeCopy()">
                {{ 'save' | translate }}
            </button>
        </form>
    </div>
</div>