@import "./../../../../styles-variables.scss";
.display-login {
  background-image: linear-gradient(158grad, $accent, $primary 58%);
  padding-top: 40px;
  height: 100vh;
  form {
    color: $accent;
    padding: 15px;
    .title {
      justify-content: center;
      h1 {
        font-size: 70px;
        font-family: $title-font;
      }
      .app {
        color: $primary;
      }
      .money {
        color: $accent;
      }
    }
    .fields {
      margin-top: 120px;
    }
    .placeholder {
      color: $accent !important;
    }
    .submit {
      position: fixed;
      bottom: 25px;
      width: 92%;
      .btn-login {
        height: 60px;
        color: $primary;
        background-color: $accent;
        font-size: 14pt;
        font-weight: bolder;
      }
      .btn-login:disabled {
        color: $primary-disabled;
        background-color: $accent-disabled;
      }
    }
  }
}
