<div class="spendings flex flex-column">
    <div class="tab">
        <div class="left-btns">
            <button class="font-ubuntu" #fixed_spendings_button (click)="openTab($event, 'fixed_spendings_view')">{{
                'fixed_spendings' |
                translate
                }}</button>
            <button class="font-ubuntu" #outgoings_button (click)="openTab($event, 'outgoings_view')">{{ 'outgoings' |
                translate }}</button>
            <button class="font-ubuntu" #incomes_button (click)="openTab($event, 'incomes_view')">{{ 'incomes' |
                translate
                }}</button>
        </div>
        <div class="spacer"></div>
        <div class="flex flex-end align-itens-center right-buttons">
            <button mat-mini-fab color="primary" (click)="openSpendingModal()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="container-tabs">
        <div #fixed_spendings_view class="tab-content font-ubuntu">
            <app-data-table [elements]="fixedSpendings" [total]="totalFixedSpendings" type="fixed_spendings">
            </app-data-table>
        </div>

        <div #outgoings_view class="tab-content font-ubuntu">
            <app-data-table [elements]="outgoings" [total]="totalOutgoings" type="outgoings"></app-data-table>
        </div>

        <div #incomes_view class="tab-content font-ubuntu">
            <app-data-table [elements]="incomes" [total]="totalIncomes" type="incomes"></app-data-table>
        </div>
    </div>
</div>