@import "./../../../../styles-variables.scss";

.toggle-expense-shower {
    font-size: 16pt;
    margin-bottom: 20px;
}

.centralize-text {
    text-align: center;
}

.btn-save {
    background-color: $primary;
    color: $accent;
}

.btn-save:disabled {
    background-color: $primary-disabled;
    color: $accent-disabled;
}