<div class="container">
  <form [formGroup]="register" (ngSubmit)="saveExpense()">
    <div class="row centralize toggle-expense-shower">
      <mat-slide-toggle formControlName="isGain" color="primary" (change)="changeExpenseType()">{{ expenseTypeShower() }}</mat-slide-toggle>
    </div>
    <div class="centralize row">
      <mat-form-field appearance="outline" class="col-9">
        <mat-label>Data de registro</mat-label>
        <input matInput [matDatepicker]="picker" disabled formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row centralize">
      <mat-form-field appearance="outline" class="col-9">
        <mat-label>Valor Mensal</mat-label>
        <input class="centralize-text" matInput formControlName="value" (blur)="formatCurrency()"
          (click)="unformatCurrency()">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-9">
        <mat-label>Parcelas</mat-label>
        <mat-select formControlName="drops">
          <mat-option *ngFor="let drop of drops" [value]="drop.quote"> {{ drop.showName }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-18">
        <mat-label>Descrição</mat-label>
        <textarea matInput cols="30" rows="5" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-18" *ngIf="!isGainForm.value">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option *ngFor="let category of categories" [value]="category"> {{ category.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-18" *ngIf="!isGainForm.value">
        <mat-label>Carteira</mat-label>
        <mat-select formControlName="wallet">
          <mat-option value="null">Dinheiro</mat-option>
          <mat-option *ngFor="let wallet of wallets" [value]="wallet"> {{ wallet.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-18">
        <button class="btn btn-primary" type="submit" [disabled]="verifyForm()">Salvar</button>
      </div>
    </div>
  </form>
</div>