<div class="index">
  <app-summary-index [expenses]="debts"></app-summary-index>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Resumo">
    <ng-template matTabContent>
      <app-summary-charts [expenses]="allDebts"></app-summary-charts>
    </ng-template>
  </mat-tab>
  <mat-tab label="Lista de gastos">
    <ng-template matTabContent>
      <app-expense-list [expenses]="expenses"></app-expense-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="fab-button">
  <button mat-fab color="primary" (click)="routeRegisterExpense()">
    <i class="material-icons-round">
      add_shopping_cart
    </i>
  </button>
</div>