.fixed-spendings {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    .table-wrapper {
        position: relative;
        width: 100%;
        overflow-y: auto;
        height: calc(100% - 58px);
    }
    .total {
        color: #fff;
        padding: 18px 0 0 15px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}