<div class="flex flex-column fixed-spendings">
    <div class="table-wrapper">
        <mat-table [dataSource]="dataSource" *ngIf="!!dataSource.data.length">

            <ng-container matColumnDef="checkbox">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox (change)="markAsPaid($event, element)" [checked]="element.paid"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> {{ 'description' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="importance">
                <mat-header-cell *matHeaderCellDef> {{ 'importance' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ currencyService.currencyType }}{{ element.importance | currency
                    }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-button (click)="editCurrent(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button (click)="deleteElement(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button (click)="copyCurrent(element)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns;" [class.paid]="row.paid"></mat-row>
        </mat-table>
        <div *ngIf="!dataSource.data.length" class="no-data">
            <span class="font-ubuntu">{{ 'no_data' | translate }}</span>
        </div>
    </div>
    <div class="flex font-ubuntu footer">
        <div class="flex-1 total"><span class="bold">{{ 'total_colon' | translate }}</span> {{
            currencyService.currencyType }}{{ _total }}</div>
        <div class="flex-1">
            <mat-paginator #paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>