<div class="container">
    <form [formGroup]="walletFormControl">
        <div class="row">
            <div class="col-18">
                <mat-slide-toggle formControlName="isCredit" color="primary" (change)="changeWalletType()">
                    {{ walletTypeShower() }}</mat-slide-toggle>
            </div>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-18" *ngIf="isCreditForm.value">
                <mat-label>Limite</mat-label>
                <input matInput formControlName="limit" (blur)="formatCurrency()"
                (click)="unformatCurrency()">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-18">
                <mat-label>Descrição</mat-label>
                <textarea matInput cols="30" rows="2" formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-9">
                <mat-label>Fech. Fat.</mat-label>
                <input type="number" min="1" max="31" matInput formControlName="flipDate">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-9">
                <mat-label>Venc. Fat.</mat-label>
                <input type="number" min="1" max="31" matInput formControlName="overdueDate">
            </mat-form-field>
        </div>
        <div class="row">
            <button class="btn btn-primary" (click)="saveWallet()">Salvar</button>
        </div>
        <br>
        <div class="row">
            <button class="btn btn-danger" (click)="dialogRef.close()">Cancelar</button>
        </div>
    </form>
</div>