<mat-accordion>
  <mat-expansion-panel *ngFor="let expense of expenses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p [ngClass]="{'debit-cash': !expense.isGain, 'credit-cash': expense.isGain}"> <span
            *ngIf="expense.isGain">+</span><span *ngIf="!expense.isGain">-</span>
          {{ expense.value | real }} </p>
      </mat-panel-title>
      <div class="description-header-list">
        {{ expense.wallet | isNull:'description':'Dinheiro' }}
      </div>
    </mat-expansion-panel-header>

    <div class="row centralize">
      <p class="col-18">{{ expense.date | date: 'EEEE, hh:mm dd/MM/yyyy'}}</p>
    </div>
    <div class="row">
      <p class="col-6" *ngIf="expense.category">{{ expense.category.description }}</p>
      <p class="col-12">{{ expense.description }}</p>
    </div>
    <div class="row actions">
      <button class="btn btn-primary col-6" (click)="deleteExpense(expense)">Deletar</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>