@import '../../../../styles-variables.scss';

.debit-cash {
    color: red;
}

.credit-cash {
    color: green;
}

.description-header-list {
    margin-right: 34px;
    margin-top: 3px;
    color: rgb(158, 158, 158);
}

.actions {
    justify-content: flex-end;
}