<mat-accordion>
  <mat-expansion-panel *ngFor="let expense of expenses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ expense.value | real }}
      </mat-panel-title>
      <mat-panel-description>
        {{ expense.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <p class="col-7">{{ expense.date | date:'dd/MM/yyyy hh:mm'}}</p>
      <p class="col-6">{{ expense.category.description }}</p>
      <p class="col-5">{{ expense.wallet.description }}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>