<div class="list-periods">
    <mat-card class="card-list-periods">
        <div class="list-periods-header">
            <h2 class="header-item header-label">{{ 'periods' | translate }}</h2>
            <button class="header-item add-button" mat-mini-fab color="accent" (click)="openModalAddPeriod()">
                <mat-icon>
                    add
                </mat-icon>
            </button>
        </div>
        <mat-list>
            <div *ngIf="!periods.length" class="no-data">
                <span class="font-ubuntu">{{ 'no_data' | translate }}</span>
            </div>
            <mat-list-item class="period-item" *ngFor="let period of periods; let i = index"
                matTooltip="{{ period.startDate | date:'dd/MM/yyyy' }} - {{ period.endDate | date:'dd/MM/yyyy'}}"
                [class.period-item-active]="active === period.id">
                <div class="period-item-content font-ubuntu">
                    <mat-icon class="item-icon list-icon pointer" (click)="openModalAddPeriod(period)">edit</mat-icon>
                    <mat-icon class="item-icon list-icon pointer" (click)="deletePeriod(period)">delete</mat-icon>
                    <span class="font-period-item item-content-item item-name">
                        {{ period.name }}
                    </span>
                    <span class="font-period-item item-content-item item-budget">
                        {{ currencyService.currencyType }}{{ period.importance | currency }}
                    </span>
                    <mat-icon class="item-icon list-icon pointer" (click)="openPeriod(period)">subdirectory_arrow_right
                    </mat-icon>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card>

</div>