@import './../../../../style-variables.scss';

.list-periods {
    width: 100%;
    height: 100%;
    position: relative;
    .card-list-periods {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        overflow: auto;
        h2 {
            margin-bottom: 0;
            margin-top: 0;
        }
        .period-item-active {
            background-color: $principal;
            border-radius: 10px;
        }
        .period-item {
            height: 40px;
            .period-item-content {
                display: flex;
                width: 100%;
                padding-top: 9px;
                .font-period-item {
                    font-size: 10pt;
                }
                .item-content-item {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .item-icon {
                    margin-right: 10px;
                }
                .item-budget {
                    flex: 2;
                    text-align: center;
                }
                .item-name {
                    flex: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .list-periods-header {
            display: flex;
            align-items: center;
            .header-label {
                flex: 7;
            }
            .add-button {
                flex: 1;
            }
        }
    }
}