<div class="center">
    <div class="name-logo">
        AppMoney
    </div>
    <mat-card class="login-card">
        <div class="login-content">
            <div class="head">
                <img src="/assets/profile.jpg" class="login-img">
            </div>
            <div class="content">
                Hello, Visitor!
            </div>
            <div class="actions">
                <button mat-flat-button color="accent" (click)="loginWithGoogle()">
                    <mat-icon>fingerprint</mat-icon> Login with Google
                </button>
            </div>
        </div>
    </mat-card>
</div>