$primary: #4CAF50;
$primary-disabled: rgba(76, 175, 79, 0.6);
$accent: #ECEFF1;
$accent-disabled: #eceff175;
$warn: #311B92;
$red-warn: #BF360C;
$grid-columns: 18;
$grid-gutter-width: 14px;
$title-font: "Mali", cursive;

.container {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

button, textarea, input {
    outline: none;
}

.btn-primary {
    background-color: $primary;
    color: $accent;
}

.btn-primary:disabled {
    background-color: $primary-disabled;
    color: $accent-disabled;
}