@use '~@angular/material' as mat;
@import './style-variables.scss';

@include mat.core();

$my-primary: mat.define-palette(mat.$gray-palette, 800);
$my-accent: mat.define-palette(mat.$gray-palette);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body { height: 100%; }
body { margin: 0; }

//app-money
.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.list-icon {
  font-size: 13pt;
}

.pointer {
  cursor: pointer;
}

.no-data {
  text-align: center;
  font-size: 10pt;
  color: #FFFFFF;
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

.warn {
  color: $warn;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

.align-itens-center {
  align-items: center;
}

//app-money margins
.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-30 {
  margin-bottom: 30px;
}

//app-money modal
.modal {
  .form-modal-header {
    display: flex;
    width: 100%;
    .label {
        flex: 9;
        margin: auto;
    }
    .close-button {
        flex: 1;
        margin: auto;
    }
  }
  
  .form-modal-content {
    margin-top: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .importance {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
          flex: 1;
          margin-bottom: 20px;
      }
      mat-form-field {
          flex: 9;
      }
    }
    .form-width {
        width: 80%;
        min-height: 50px;
    }
  }
}

//scrollbar
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(110, 110, 110, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(110, 110, 110, 0.8); 
}