@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$gray-palette, 800);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html, body { height: 100%; }
body { margin: 0; }

//app-money
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.font-ubuntu {
  font-family: 'Ubuntu Mono', monospace;
}