@use '~@angular/material' as mat;
@import './style-variables.scss';

@include mat.core();

$my-primary: mat.define-palette(mat.$gray-palette, 800);
$my-accent: mat.define-palette(mat.$gray-palette);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body { height: 100%; }
body { margin: 0; }

//app-money
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.list-icon {
  font-size: 13pt;
}

.pointer {
  cursor: pointer;
}

.no-data {
  text-align: center;
  font-size: 10pt;
}

.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

.warn {
  color: $warn;
}

//app-money margins
.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5pt;
}

//scrollbar
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(110, 110, 110, 0.8); 
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(110, 110, 110, 0.8); 
}